.App {
    background-color: #282c34;
    margin: auto;
    transform: translate(2% , 50%);
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
  }
  
  .iconItem{
    height: 23px;
    width: 30px;
    justify-self: center;
    align-self: end;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s;
  
  }
  p{
    color: white;
    text-align: center;
  }
  .icon{
    color: white;
    justify-self: center;
   
  }
  .iconItem:hover{
    transform: scale(1.2);
  }